.faq {
	margin-top: pxToRem(160);

	@include breakpoint-down(medium) {
		margin-top: pxToRem(80);
	}
	.container {
		@include breakpoint-up(large) {
			width: pxToRem(600);
		}
	}
	&__accordionContainer {
		margin-top: pxToRem(65);
		border-bottom: 1px solid $Light_Gray;
	}
	&__text {
		text-align: center;

		h1 {
			font-size: pxToRem(30);
			margin-bottom: pxToRem(30);
		}

		p {
			font-size: $font_med;
		}
	}

	&__button {
		margin-top: pxToRem(50);
		text-align: center;
	}
}
