.hero {
	overflow-x: hidden;
	@include breakpoint-down(medium) {
		text-align: center;
	}

	.container {
		min-height: pxToRem(448);

		@include breakpoint-down(medium) {
			flex-direction: column-reverse;
			padding-top: 0;
		}
	}

	&__button {
		margin-top: pxToRem(32);

		a {
			&:first-child {
				margin-right: pxToRem(16);
				margin-left: pxToRem(16);
			}
			margin-bottom: pxToRem(16);
			font-weight: 500;
		}
	}

	&__text {
		flex: 1;

		h1 {
			margin-top: pxToRem(70);
			margin-bottom: pxToRem(28);
		}

		p {
			font-size: $font_med;
			padding-right: pxToRem(32);
		}
	}

	&__image {
		@include breakpoint-down(medium) {
			height: pxToRem(480);
		}
		@include breakpoint-up(large) {
			flex: 1;
		}
		position: relative;

		&::after {
			position: absolute;
			content: "";
			background-image: url('../images/illustration-hero.svg');
			background-size: contain;
			background-repeat: no-repeat;
			height: 100%;

			@include breakpoint-down(medium) {
				background-position: center center;
				left: 0;
				width: 100%;
			}

			@include breakpoint-up(large) {
				left: 10%;
				width: 105%;
			}
		}

		&::before {
			content: "";
			position: absolute;
			background-color: #5368df;
			border-top-left-radius: 145px;
			border-bottom-left-radius: 145px;
			width: pxToRem(3200);
			height: 60%;
			top: 30%;

			@include breakpoint-up(large) {
				left: 40%;
				top: 30%;
			}
			@include breakpoint-down(medium) {
				left: 40%;
				top: 45%;
			}
			@include breakpoint-down(small) {
				left: 20%;
				top: 30%;
				width: 145%;
			}
		}
	}
}
