//Colors
$Soft_Blue: hsl(231, 69%, 60%);
$Soft_Red: hsl(0, 94%, 66%);
$Grayish_Blue: hsl(229, 8%, 60%);
$Very_Dark_Blue: hsl(229, 31%, 21%);
$Gray: #f7f7f7;
$Light_Gray: #e0e0ea;

//Fonts
$font_sm: pxToRem(14);
$font_med: pxToRem(18);
